@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #000;
  font-family: "Roboto", sans-serif;
  background: url(../img/Awesome\ Math\ Desktop\ Wallpapers\ -\ WallpaperAccess.jpeg);
}

.iphone-calculator {
  width: 320px;
  margin: 50px auto;
  background-color: #000;
  padding: 20px 10px;
  border: 1px solid #2b2a2a;
  border-radius: 50px;
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.1),
    0 8px 25px rgba(255, 255, 255, 0.05);
}
.calculation-box {
  display: flex;
  align-items: flex-end;
  height: 150px;
}
.calculation-box input {
  width: 100%;
  height: 60px;
  font-size: 38px;
  text-align: right;
  padding: 10px 15px;
  border: none;
  background-color: transparent;
  color: #ffffff;
  outline: none;
}

.calculation-operators {
  margin-top: 20px;
}

.operators {
  width: 60px;
  height: 60px;
  font-size: 24px;
  margin: 5px;
  border: none;
  border-radius: 50%;
}
.top-row,
.top-row i {
  background-color: #a5a5a5;
  color: #010101;
  font-weight: bold;
}
.arithematic-operators {
  background-color: #ffa214;
  color: #ffff;
}
.operators:nth-child(17) {
  width: 135px;
  border-radius: 50px;
}
.point-size {
  font-size: 5px;
}
.numbers {
  background-color: #333333;
  color: #fff;
}
