@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(135deg, #110715, #a01a7d);
  font-family: "Raleway", sans-serif;
}
ul {
  padding: 0;
}
.container {
  min-height: 100vh;
  display: flex;
}
.to-do-list {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 10px 25px;
  border-radius: 25px;
  border: none;
  width: 600px;
  margin: auto;
}
.main-Heading {
  font-size: 32px;
  color: #110715;
  font-weight: 600;
  margin-bottom: 0;
}
.list-heading-text img {
  width: 40px;
}
.input-field-with-btn {
  background-color: #edeef0;
  border-radius: 50px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}
#textInput {
  border: none;
  outline: none;
  background: transparent;
  padding: 15px;
  width: 100%;
}
.add-task-btn {
  border: none;
  outline: none;
  padding: 16px 50px;
  background-color: #a01a7d;
  color: #fff;
  font-size: 16px;
  border-radius: 50px;
}
.task-items {
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-direction: column;
}
.task {
  list-style: none;
  padding: 8px 50px;
  cursor: pointer;
  position: relative;
  font-size: 18px;
  color: #110715;
  font-weight: 400;
  border: 1px solid #555;
  border-radius: 25px;
  margin-bottom: 15px;
}
.task::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 8px;
  background: url(../img/icons8-uncheck-mark-24.png) no-repeat center;
  height: 18px;
  width: 18px;
  background-size: cover;
  border-radius: 50%;
}
.task.checked-task {
  color: #a01a7d;
  text-decoration: line-through;
}
.task.checked-task::before {
  background: url(../img/icons8-check-mark-16.png) no-repeat center center/cover;
}
.task span {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}
.task span:hover {
  background: #edeef0;
}
